table.widefat tbody tr {cursor:move;}
table.widefat th.check-column {padding-left:25px;}
.widefat .check-column {width:3.2em;}
table.widefat tbody th.check-column {background:transparent url(../images/icon-sort.gif) no-repeat left center;}